/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
} */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'sans-serif';
  color: white;
}

.text {
  color: black;
}

header {
  padding: 30px;
  background: #011627;
  height: 40px;
}

/* Center image containers */
.Images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.Images img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.sideNav {
  width: 750px;
  background: #011627;
  position: fixed;
  top: 100px;
  height: calc(100vh - 100px);
  padding: 8px 50px 0px 10px;
  left: -100%;
  transition: all 1s;
  z-index: 1000;
  overflow-y: auto;
}

.sideNav.active {
  left: 0;
}

.title {
  margin: 20px 100px 50px 0;
}

